@import "tailwindcss";

:root {
  --milk-brown: #c49a6c;
  --caramel: #d2a679;
}

.bg-main {
  background-color: var(--milk-brown);
}

.text-main {
  color: var(--milk-brown);
}

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
.animate-bounce-slow {
  animation: bounce-slow 3s infinite ease-in-out;
}
